.product-category {
  .label {
    font-family: IRANYekanXLightFaNumber;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: justify;
  }

  .report {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;

    .goods-property-report {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Color-Schema-On-Surface-Secondary, #555555);
    }
  }
}

.product-content {
  .image-container {

    .active-image-container {
      width: 377px;
      height: 377px;
      border-radius: 8px;
    }

    .small-images-container {
      width: 377px;
      height: 69px;

      .small-image-item {
        width: 65px;
        height: 66px;
        border-radius: 10px;
        border: 2px solid var(--Color-Schema-Surface-Secondary, #F7F9FB);

        &.active {
          border-color: var(--Color-Schema-Main-Colors-Mint, #B8EDDC);
        }
      }
    }
  }

  .product-details {

    .product-title {
      font-family: IRANYekanXFaNumber;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      text-align: justify;
      color: var(--Color-Schema-On-Surface-Primary, #222222);
    }

    .english-product-title {
      font-family: Poppins;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Color-Schema-On-Surface-Tertiary, #999999);
    }

    .comments, .questions {
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;
      width: 75px;
      height: 28px;
      gap: 8px;
      opacity: 1;
      border-radius: 20px;
      padding-right: 8px;
      padding-left: 8px;
      background: var(--Color-Schema-Surface-Tertiary, #00000005);
      backdrop-filter: blur(8px);
      color: var(--Color-Schema-On-Surface-Secondary, #555555);
    }

    .color-section {
      .title {
        font-family: IRANYekanXDemiBoldFaNumber;
        font-weight: 600;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Color-Schema-On-Surface-Primary, #222222);
      }
    }

    .specification-section {
      .title {
        font-family: IRANYekanXDemiBoldFaNumber;
        font-weight: 600;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Color-Schema-On-Surface-Primary, #222222);
      }

      .specification-section-detail-container {
        height: 60px;
        gap: 8px;
        opacity: 1;
        border-radius: 12px;
        padding: 8px;
        background: var(--Color-Schema-Surface-Secondary, #F7F9FB);

        .title, .detail {
          font-family: IRANYekanXRegularFaNumber;
          font-weight: 400;
          font-size: 11px;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Color-Schema-On-Surface-Secondary, #555555);
        }

        .detail {
          color: var(--Color-Schema-On-Surface-Primary, #222222);
        }
      }

      .specification-section-see-more-container {
        width: 165px;
        height: 60px;
        gap: 8px;
        opacity: 1;
        border-radius: 12px;
        padding: 8px;
        border-width: 1px;
        border-style: dashed;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Color-Schema-On-Surface-Primary, #222222);
      }
    }

    .seller-information {
      .title {
        font-family: IRANYekanXDemiBoldFaNumber;
        font-weight: 600;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0;
      }

      .store-profile {
        font-weight: 500;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Color-Schema-Main-Colors-Secondary, #0058CC);
      }

      .store-contact-us-container {
        .image-container {
          width: 64px;
          height: 64px;
          gap: 8px;
          opacity: 1;
          border-radius: 12px;
          padding: 4px;
          background: var(--Color-Schema-Surface-Secondary, #F7F9FB);

          img {
            max-width: none;
          }
        }

        .address-container {
          margin-right: 0.5em;

          .website, .number {
            height: 28px;
            gap: 8px;
            opacity: 1;
            border-radius: 12px;
            padding-top: 4px;
            padding-right: 8px;
            padding-bottom: 4px;
            padding-left: 8px;
            background: var(--Color-Schema-Surface-Secondary, #F7F9FB);

            .title {
              font-family: IRANYekanXRegularFaNumber;
              font-weight: 400;
              font-size: 11px;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Color-Schema-On-Surface-Secondary, #555555);
            }

            .value {
              font-weight: 500;
              font-size: 11px;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Color-Schema-Main-Colors-Secondary, #0058CC);
              margin-right: 0.5em;
            }
          }

          address {
            height: 28px;
            gap: 8px;
            opacity: 1;
            border-radius: 12px;
            padding-top: 4px;
            padding-right: 8px;
            padding-bottom: 4px;
            padding-left: 8px;
            background: var(--Color-Schema-Surface-Secondary, #F7F9FB);
            font-style: normal;
            margin-top: 0.5em;

            .title {
              font-family: IRANYekanXRegularFaNumber;
              font-weight: 400;
              font-size: 11px;
              line-height: 20px;
              color: #555555;
            }

            .value {
              font-weight: 500;
              font-size: 11px;
              line-height: 20px;
              letter-spacing: 0;
              margin-right: 0.5em;
            }
          }
        }
      }
    }
  }

  .store-container {
    .seller-title {
      font-family: IRANYekanXDemiBoldFaNumber;
      font-weight: 600;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0;

    }

    .store-button {
      width: 106px;
      height: 28px;
      opacity: 1;
      border-radius: 20px;
      padding-right: 8px;
      padding-left: 8px;
      gap: 8px;
      background: #00000005;
      backdrop-filter: blur(8px);
      font-family: IRANYekanXFaNum;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;
    }

    .seller-name {
      font-family: Poppins;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
      color: #222222;
    }

    .rate-container {
      .value {
        font-family: IRANYekanXLightFaNumber;
        font-weight: 300;
        font-size: 11px;
        line-height: 20px;
        letter-spacing: 0;
      }
    }

    .duration {
      font-family: IRANYekanXDemiBoldFaNumber;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;

    }

    .duration-value {
      font-family: IRANYekanXLightFaNumber;
      font-weight: 300;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0;

    }

    .success-buy-number {
      font-family: IRANYekanMediumFaNumber;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;
      margin-right: 1em;
      color: var(--Color-Schema-On-Surface-Secondary, #555555);
    }

    .warranty-info {
      font-family: IRANYekanMediumFaNumber;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;
      margin-right: 0.5em;
      color: var(--Color-Schema-On-Surface-Primary, #222222);
    }
  }
}
