.product-details-container {
  .product-category {
    .label {
      font-family: IRANYekanXFaNum;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
      text-align: justify;
    }
    .report {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
    }
  }
  .image-container {
    max-width: 449px;
    .images-list {
    }
  }
  .product-details {
    width: 485px;
  }
  .store-container {
    width: 240px;
    .seller-title {
      font-family: IRANYekanXFaNum;
      font-weight: 600;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0;

    }
    .store-button {
      width: 106px;
      height: 28px;
      opacity: 1;
      border-radius: 20px;
      padding-right: 8px;
      padding-left: 8px;
      gap: 8px;
      background: #00000005;
      backdrop-filter: blur(8px);
      font-family: IRANYekanXFaNum;
      font-weight: 500;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;
    }
    .seller-name {
      font-family: Poppins;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
      color: #222222;
    }
    .duration {
      font-family: IRANYekanXFaNum;
      font-weight: 600;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;

    }
    .duration-value {
      font-family: IRANYekanXFaNum;
      font-weight: 300;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0;

    }
  }
}
