.main-header {
  width: 100%;
  height: 96px;
  background: #FFFFFF1F;

  .menu-items {
    .main-title {
      font-family: IRANYekanXFaNum;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0;
      color: #222222;
    }

    .menu-item {
      font-family: IRANYekanXFaNum;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      color: #222222;
    }
  }

  .actions-button-container {
    .login-button {
      width: 115px;
      height: 48px;
      opacity: 1;
      border-radius: 20px;
      padding: 8px 16px;
      gap: 8px;
      background: #009975;
      font-family: IRANYekanXFaNum;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      color: #FFFFFF;
    }
  }
}
