.reviews-header-right {
  flex: 1;
  max-width: 220px;

  .section-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0 0.5em;
    color: var(--Color-Schema-On-Surface-Primary, #222222);
  }

  .reviews-count {
    width: 196px;
    height: 28px;
    gap: 10px;
    opacity: 1;
    border-radius: 8px;
    padding: 4px 8px;
    background: var(--Color-Schema-Surface-Tertiary, #00000005);
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: justify;
    color: var(--Color-Schema-On-Surface-Primary, #222222);
    margin: 8px 0;
  }

  .rating-summary {

    .rating-display {
      display: flex;

      .rating-value {
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Color-Schema-On-Surface-Primary, #222222);
      }

      .rating-out-of {
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Color-Schema-On-Surface-Primary, #222222);
        margin: 4px;
      }
    }

    .stars-display {
      display: flex;
      justify-content: space-between;
      gap: 0.25rem;
    }

    .votes-count {
      font-family: IRANYekanXLightFaNumber;
      font-weight: 300;
      font-size: 10px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Color-Schema-On-Surface-Secondary, #555555);
    }
  }

  .register-prompt {
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: justify;
    color: var(--Color-Schema-On-Surface-Primary, #222222);
    margin: 8px 0;
  }

  .register-review-btn {
    width: 196px;
    height: 48px;
    gap: 8px;
    opacity: 1;
    border-radius: 20px;
    padding: 8px 16px;
    border: 1px solid var(--Color-Schema-Main-Colors-Primary, #009975);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--Color-Schema-Main-Colors-Primary, #009975);

    &:hover {
      //background: #007A5E;
    }
  }
}
