<section class="product-tabs-container flex flex-row-reverse lg:p-4 lg:mt-4 gap-8">
  <div class="seller-card-wrapper hidden lg:block">
    <app-seller-product-card
      [sellerName]="'ZULLO INDUSTRIES'"
      [rating]="4.8"
      [price]="5000000"
      [successfulPurchases]="500"
      [warrantyText]="'۷ روز تضمین بازگشت کالا'">
    </app-seller-product-card>
  </div>

  <section class="w-full lg:w-[77%]">
    <app-tab-navigation-menu [tabs]="tabs" [activeTab]="activeTab"></app-tab-navigation-menu>
    <!-- Tab Content -->
    <div class="tabs-content lg:mt-4">
      <app-property-box [propertyList]="goodsPropertySections"></app-property-box>
      <!-- Reviews Tab -->
      <app-comments [reviewSummary]="reviewSummary" [reviewSortOptions]="reviewSortOptions"
                    [reviews]="reviews"></app-comments>
      <!-- Questions Tab -->
      <app-questions-list [questionsList]="questions"></app-questions-list>
    </div>
  </section>
</section>



