<footer class="footer sm:bg-red-400">
  <section>
    <!-- Text Content -->
    <div class="content">
      <img
        class="sm:block"
        src="assets/images/footer/footer-waldent-logo.png" alt="waldent">
      <div class="content-text-container">
        <h1 class="content-title">{{'footer.waldent' | translate}}</h1>
        <p class="content-text">{{'footer.content-text' | translate}}</p>
      </div>
    </div>
    <!-- Links -->
    <div class="links"></div>
  </section>
  <section class="copy-write"></section>
</footer>
