.tab-section {
  background: #F7F9FB;
  padding: 16px;
  border-radius: 28px;
  .left-side-container {
    max-width: 642px;
  }
}

@media only screen and (max-width: 568px) {
  .tab-section {
    border-radius: 0;
  }
}
