.secondary-menu-container {
  .secondary-menu-items-container {
    margin-bottom: 0;
    .menu-item {
      button {
        height: 48px;
        border-radius: 20px;
        opacity: 1;
        gap: 8px;
        padding: 8px 24px;
        font-family: IRANYekanXLightFaNumber;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Color-Schema-On-Surface-Primary, #222222);
        cursor: pointer;
        position: relative;
        &:disabled {
          color: #4b5563;
          cursor: auto;
        }
      }
      .routerLinkActive {
        font-family: IRANYekanXBoldFaNumber;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Color-Schema-Main-Colors-Primary, #009975);
        background: var(--Color-Schema-Surface-Secondary, #F7F9FB);
      }
    }
    .soon {
      width: 53px;
      height: 24px;
      gap: 10px;
      opacity: 1;
      border-radius: 10px;
      padding: 10px;
      color: var(--Color-Schema-Main-Colors-On-Primary, #FFFFFF);
      background: var(--Color-Schema-Main-Colors-Primary, #009975);
      font-family: IRANYekanMediumFaNumber;
      font-weight: 500;
      font-size: 10px;
      line-height: 24px;
      letter-spacing: 0;
      vertical-align: middle;
      position: absolute;
      top: -25%;
      left: -6%;
      z-index: 100;
    }
  }

  .search-box-form-container {
    width: 480px;
    .search-box-input {
      width: 351px;
      height: 48px;
      gap: 8px;
      angle: 0 deg;
      opacity: 1;
      padding: 8px 16px;
      border-radius: 20px;
      background: var(--Color-Schema-Surface-Tertiary, #00000005);
      box-shadow: 0 1px 2px 2px var(--OpacityBlack8) inset;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      text-align: right;
      color: var(--Color-Schema-On-Surface-Tertiary, #999999);
      outline: none;
    }
    .search-box-button {
      width: 113px;
      height: 45px;
      gap: 8px;
      opacity: 1;
      padding: 8px 16px;
      border-radius: 20px;
      background: var(--Color-Schema-Main-Colors-Secondary, #0058CC);
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Color-Schema-Main-Colors-On-Secondary, #FFFFFF);
    }
  }
}

@media only screen and (max-width: 767px) {
  .secondary-menu-items-container {
    .menu-item {
      button {
        padding: 8px 18px !important;
        font-size: 15px !important;
      }
    }
  }
}
