.tab-section {
  .header {
    .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      color: #222222;
    }
  }

  .tab-section-body {
    border-radius: 28px;

    .label {
      font-family: IRANYekanXRegularFaNumber;
      font-weight: 400;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0;
      color: #555555;
    }

    .value {
      font-weight: 500;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0;
      color: #222222;
    }
  }
}
