.technicians-list-page {
  min-height: calc(100vh - 96px);
  padding-bottom: 40px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
