.reviews-header-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: flex-start;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-card {
  border-radius: 12px;
  padding: 16px;
}

/* Header */
.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .report {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Color-Schema-On-Surface-Secondary, #555555);
  }
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 8px;

  .user {
    img {
      width: 24px;
      height: 24px;
      border-radius: 100px;
    }
  }
}

.reviewer-name {
  font-family: IRANYekanXRegularFaNumber;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--Color-Schema-On-Surface-Secondary, #555555);

}

.buyer-badge {
  width: 42px;
  height: 24px;
  gap: 10px;
  opacity: 1;
  border-radius: 20px;
  padding: 2px 8px;
  background: var(--Color-Schema-Main-Colors-Mint, #B8EDDC);
  font-family: IRANYekanMediumFaNumber;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--Shades-Primary-10, #003327);

}

.review-date {
  font-family: IRANYekanXLightFaNumber;
  font-weight: 300;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--Color-Schema-On-Surface-Secondary, #555555);
}

.review-rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating-number {
  font-size: 13px;
  color: #555;
}

/* Text */
.review-text {
  font-family: IRANYekanXRegularFaNumber;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: justify;
  color: var(--Color-Schema-On-Surface-Primary, #222222);
}

/* Points */
.review-points-wrapper {
  display: flex;
  gap: 12px;
  margin: 12px 0;
}

.points-box {
  flex: 1;
  gap: 8px;
  opacity: 1;
  border-radius: 20px;
  padding: 12px;
  background: var(--Color-Schema-Surface-Primary, #FFFFFF);

  .title {
    font-family: IRANYekanXRegularFaNumber;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Color-Schema-On-Surface-Secondary, #555555);
  }
}

.points-box ul {
  margin: 8px 0 0;
}

.points-box li {
  font-family: IRANYekanMediumFaNumber;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--Color-Schema-On-Surface-Primary, #222222);
}

.points-box .icon {
  font-weight: bold;
  margin-left: 6px;
}

/* Footer */
.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.seller-info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #555;

  .seller-name {
    font-family: Poppins;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Color-Schema-On-Surface-Primary, #222222);
  }
}

.review-actions {
  display: flex;
  gap: 12px;
}

.review-actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 13px;
  color: #666;
}

.review-actions button:hover {
  color: #000;
}
