@font-face {
  font-family: 'IRANYekanMediumFaNumber';
  src: url('/assets/fonts/IRANYekanXFaNum-Medium.woff') format('woff'),
  url('/assets/fonts/IRANYekanXFaNum-Medium.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekanXFaNumber';
  src: url('./assets/fonts/IRANYekanXFaNum-Bold.woff') format('woff'),
  url('./assets/fonts/IRANYekanXFaNum-Bold.woff') format('woff');
}
@font-face {
  font-family: 'IRANYekanXDemiBoldFaNumber';
  src: url('./assets/fonts/IRANYekanXFaNum-DemiBold.woff') format('woff'),
  url('./assets/fonts/IRANYekanXFaNum-DemiBold.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekanXRegularFaNumber';
  src: url('/assets/fonts/IRANYekanXFaNum-Regular.woff') format('woff'),
  url('/assets/fonts/IRANYekanXFaNum-Regular.woff') format('woff');
}

@font-face {
  font-family: 'IRANYekanXLightFaNumber';
  src: url('/assets/fonts/IRANYekanXFaNum-Light.ttf') format('woff'),
  url('/assets/fonts/IRANYekanXFaNum-Light.ttf') format('woff');
}
@font-face {
  font-family: 'IRANYekanXBoldFaNumber';
  src: url('/assets/fonts/IRANYekanXFaNum-Bold.woff') format('woff'),
  url('/assets/fonts/IRANYekanXFaNum-Bold.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --app-font: 'IRANYekanXFaNum', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-family: var(--app-font);
}

html[lang="en"] {
  --app-font: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

* {
  font-family: IRANYekanMediumFaNumber;
  margin: 0;
  padding: 0;
}

.all-list-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: var(--Color-Schema-Main-Colors-Secondary, #0058CC);
}
