@use "tailwindcss";

@font-face {
  font-family: 'IRANSans';
  src: url('/assets/fonts/IRANSans.woff2') format('woff2'),
  url('/assets/fonts/IRANSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
