@font-face {
  font-family: 'IRANYekanFaNumber';
  src: url('/assets/fonts/IRANYekanXFaNum-Medium.woff') format('woff'),
  url('/assets/fonts/IRANYekanXFaNum-Medium.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: IRANYekanFaNumber;
  direction: rtl;
  margin: 0;
  padding: 0;
}
