.tabs-menu {
  gap: 0;
  padding: 8px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 28px;
  background-color: #F7F9FB;
  height: 64px;

  &::-webkit-scrollbar {
    display: none;
  }
}
.tab-button {
  background: none;
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  position: relative;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  height: 48px;

  &:hover {
    color: #222222;
  }

  &.active {
    background-color: #fff;
    border-radius: 20px;
    color: #009975;
    font-weight: 600;
  }
}
