<div class="filter-container">
  <div class="header-row">
    <img src="assets/images/filter.svg" alt="filter">
    <span class="title">فیلترها</span>
  </div>

  <!-- Available Toggle -->
  <div class="section">
    <div class="checkbox-item">
      <app-toggle-switch title="در دسترس" [(checked)]="available" (checkedChange)="onAvailableChange($event)"></app-toggle-switch>
    </div>
  </div>

  <div class="divider"></div>

  <!-- Specialty -->
  <div class="section">
    <div class="row-between" (click)="toggleSection('specialty')">
      <span class="label">تخصص</span>
      <img src="assets/images/arrow-up.svg" alt="" class="transition-transform duration-300 ease-in-out" [ngClass]="expandedSections.specialty ? '' : 'rotate-180'">
    </div>
    @if (expandedSections.specialty) {
      <div class="filter-content">
        <div class="search-box">
          <img src="assets/images/search.svg" alt="">
          <input type="text" placeholder="جستجو تخصص" [(ngModel)]="specialtySearch" />
        </div>
        <div class="filter-list">
          @for (specialty of filteredSpecialties; track specialty.name) {
            <div class="filter-item">
              <span class="filter-item-label">{{ specialty.name }}</span>
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="specialty.selected" (change)="emitFilterChange()">
                <span class="checkmark"></span>
              </label>
            </div>
          }
        </div>
      </div>
    }
  </div>

  <div class="divider"></div>

  <!-- Province -->
  <div class="section">
    <div class="row-between" (click)="toggleSection('province')">
      <span class="label">استان</span>
      <img src="assets/images/arrow-up.svg" alt="" class="transition-transform duration-300 ease-in-out" [ngClass]="expandedSections.province ? '' : 'rotate-180'">

    </div>
    @if (expandedSections.province) {
      <div class="filter-content">
        <div class="search-box">
          <img src="assets/images/search.svg" alt="">
          <input type="text" placeholder="جستجو استان" [(ngModel)]="provinceSearch" />
        </div>
        <div class="filter-list">
          @for (province of filteredProvinces; track province.name) {
            <div class="filter-item" [class.selected]="province.selected">
              <span class="filter-item-label">{{ province.name }}</span>
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="province.selected" (change)="emitFilterChange()">
                <span class="checkmark"></span>
              </label>
            </div>
          }
        </div>
      </div>
    }
  </div>

  <div class="divider"></div>

  <!-- City -->
  <div class="section">
    <div class="row-between" (click)="toggleSection('city')">
      <span class="label">شهر</span>
      <img src="assets/images/arrow-up.svg" alt="" class="transition-transform duration-300 ease-in-out" [ngClass]="expandedSections.city ? '' : 'rotate-180'">

    </div>
    @if (expandedSections.city) {
      <div class="filter-content">
        <div class="search-box">
          <img src="assets/images/search.svg" alt="">
          <input type="text" placeholder="جستجو شهر" [(ngModel)]="citySearch" />
        </div>
        <div class="filter-list">
          @for (city of filteredCities; track city.name) {
            <div class="filter-item" [class.selected]="city.selected">
              <span class="filter-item-label">{{ city.name }}</span>
              <label class="custom-checkbox">
                <input type="checkbox" [(ngModel)]="city.selected" (change)="emitFilterChange()">
                <span class="checkmark"></span>
              </label>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>

